
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myShoppingcartLabel">Create or edit a Shoppingcart</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="shoppingcart.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_sessionId">SessionId</label>
            <input type="text" class="form-control" name="sessionId" id="field_sessionId"
                    ng-model="shoppingcart.sessionId"
                    >

        </div>
        <div class="form-group">
            <label for="field_menuItem">MenuItem</label>
            <input type="text" class="form-control" name="menuItem" id="field_menuItem"
                    ng-model="shoppingcart.menuItem"
                    >

        </div>
        <div class="form-group">
            <label for="field_currentUser">CurrentUser</label>
            <input type="text" class="form-control" name="currentUser" id="field_currentUser"
                    ng-model="shoppingcart.currentUser"
                    >

        </div>
        <div class="form-group">
            <label for="field_totalCost">TotalCost</label>
            <input type="text" class="form-control" name="totalCost" id="field_totalCost"
                    ng-model="shoppingcart.totalCost"
                    >

        </div>
        <div class="form-group">
            <label for="field_hasmany">hasmany</label>
            <select class="form-control" id="field_hasmany" multiple name="hasmany" ng-model="shoppingcart.hasmanys" ng-options="menuItem as menuItem.n for menuItem in menuitems track by menuItem.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
